<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_10_select_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-10 column 선택

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# math 점수 데이터만 선택. 변수 math1에 저장
math1 = df['math']
print(math1, '\n')
print(type(math1))

0    90
1    80
2    70
Name: math, dtype: int64

<class 'pandas.core.series.Series'>

In [4]:
# eng 점수 데이터만 선택. 변수 eng1에 저장
eng1 = df['math'] # series
print(eng1, '\n')
print(type(eng1))

0    90
1    80
2    70
Name: math, dtype: int64

<class 'pandas.core.series.Series'>

In [5]:
# music, PE 점수 데이터를 선택. 변수 music_PE에 저장
music_PE = df[['music', 'PE']]
print(music_PE)
print(type(music_PE))

   music  PE
0     89  96
1     90  99
2     92  92
<class 'pandas.core.frame.DataFrame'>

In [6]:
# math 점수 데이터만 선택. 변수 math2
math2 = df[['math']] # DataFrame
print(math2)
print(type(math2))

   math
0    90
1    80
2    70
<class 'pandas.core.frame.DataFrame'>

In [7]:
# DataFrame.iloc[시작index : 끝index : 슬라이싱 간격]
df.iloc[0:4:2]

   name  math  eng  music  PE
0  stu1    90   98     89  96
2  stu3    70   95     92  92