<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_11_select_element.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-11 원소 선택

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# name 컬럼을 인덱스로 지정
df.set_index('name', inplace=True)
print(df)

      math  eng  music  PE
name
stu1    90   98     89  96
stu2    80   99     90  99
stu3    70   95     92  92

In [4]:
# dataFrame의 특정 원소 1개 선택('stu1'의 'music')

a = df.loc['stu1', 'music']
print(a)
b = df.iloc[0, 2]
print(b)
print(type(a))

89
89
<class 'numpy.int64'>

In [5]:
# dataFrame의 특정 원소 2개 선택('stu1'의 'music'과 'PE')
c = df.loc['stu1', ['music', 'PE']]
print(c)

d = df.iloc[0,[2, 3]]
print(d)

e = df.loc['stu1', 'music':'PE']
print(e)

f = df.iloc[0, 2:4]
print(f)

music    89
PE       96
Name: stu1, dtype: int64
music    89
PE       96
Name: stu1, dtype: int64
music    89
PE       96
Name: stu1, dtype: int64
music    89
PE       96
Name: stu1, dtype: int64

In [6]:
# dataFrame 2개 이상의 row와 columns에 속하는 elements 선택('stu1'과 'stu2'의 'music'과 'PE')
g = df.loc[['stu1', 'stu2'], ['music', 'PE']]
print(g)

h = df.iloc[[0,1], [2,3]]
print(h)

i = df.loc['stu1':'stu2', 'music':'PE']
print(i)

j = df.iloc[0:2, 2:]
print(j)

      music  PE
name
stu1     89  96
stu2     90  99
      music  PE
name
stu1     89  96
stu2     90  99
      music  PE
name
stu1     89  96
stu2     90  99
      music  PE
name
stu1     89  96
stu2     90  99