<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_12_add_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-12 열 추가

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# DataFrame에 'Kor' 추가. 데이터 값은 80
df['Kor'] = 80
print(df)

   name  math  eng  music  PE  Kor
0  stu1    90   98     89  96   80
1  stu2    80   99     90  99   80
2  stu3    70   95     92  92   80