<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_13_add_row.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-13 row 추가

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# 새로운 row 추가 - 같은 값 입력
df.loc[3] = 0
print(df)

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
3     0     0    0      0   0

In [4]:
# 새로운 row 추가 - 원소 값 여러개의 배열 입력
df.loc[4] = ['stu4', 90, 80, 70, 60]
print(df)

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
3     0     0    0      0   0
4  stu4    90   80     70  60

In [5]:
# 새로운 row 추가 - 기존 row 복사
df.loc[5] = df.loc[3]
print(df)

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
3     0     0    0      0   0
4  stu4    90   80     70  60
5     0     0    0      0   0