<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_14_modify_dataframe_element.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ex 1-14 element value 변경

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# 'name' row를 새로운 index로 지정하고, df 객체에 변경사항 반영
df.set_index('name', inplace=True)
print(df)

      math  eng  music  PE
name
stu1    90   98     89  96
stu2    80   99     90  99
stu3    70   95     92  92

In [4]:
# 'stu1'의 PE 변경
df.iloc[0, 3] = 80
print(df)

      math  eng  music  PE
name
stu1    90   98     89  80
stu2    80   99     90  99
stu3    70   95     92  92

In [5]:
df.loc['stu1', 'PE'] = 90
print(df)

      math  eng  music  PE
name
stu1    90   98     89  90
stu2    80   99     90  99
stu3    70   95     92  92

In [6]:
df.iloc[0][3] = 100
print(df)

      math  eng  music   PE
name
stu1    90   98     89  100
stu2    80   99     90   99
stu3    70   95     92   92

In [7]:
# 'stu1'의 'music', 'PE' 동시에 변경
df.loc['stu1', ['music', 'PE']] = 50
print(df)

      math  eng  music  PE
name
stu1    90   98     50  50
stu2    80   99     90  99
stu3    70   95     92  92