<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_15_transpose.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ex 1-15 row와 columns 바꾸기

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# dataframe을 transepose 하기
df = df.transpose()
print(df)

          0     1     2
name   stu1  stu2  stu3
math     90    80    70
eng      98    99    95
music    89    90    92
PE       96    99    92

In [4]:
# 다시 transpose 하기
df = df.T
print(df)

   name math eng music  PE
0  stu1   90  98    89  96
1  stu2   80  99    90  99
2  stu3   70  95    92  92

In [5]:
df = df.T
print(df)

          0     1     2
name   stu1  stu2  stu3
math     90    80    70
eng      98    99    95
music    89    90    92
PE       96    99    92