<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_16_set_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ex 1-16 특정 열을 index로 설정

In [1]:
import pandas as pd

In [2]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'name':['stu1', 'stu2', 'stu3'], 'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))

   name  math  eng  music  PE
0  stu1    90   98     89  96
1  stu2    80   99     90  99
2  stu3    70   95     92  92
<class 'pandas.core.frame.DataFrame'>

In [3]:
# 특정 column을 dataframe의 row index로 설정
ndf = df.set_index('name')
print(ndf)

ndf2 = df.set_index('music')
print(ndf2)

ndf3 = df.set_index(['math', 'music'])
print(ndf3)

      math  eng  music  PE
name
stu1    90   98     89  96
stu2    80   99     90  99
stu3    70   95     92  92
       name  math  eng  PE
music
89     stu1    90   98  96
90     stu2    80   99  99
92     stu3    70   95  92
            name  eng  PE
math music
90   89     stu1   98  96
80   90     stu2   99  99
70   92     stu3   95  92