<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_3_series_element.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-3 Series element 선택

In [1]:
import pandas as pd

In [2]:
# turple을 series로 변환 (index option 지정)

tup_data = ('영인', '2020-8-20', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름             영인
생년월일    2020-8-20
성별              여
학생여부         True
dtype: object

In [3]:
# element를 1개 선택
print(sr[0]) # sr의 1번째 원소를 선택
print(sr['이름']) # 이름 라벨을 가진 element를 선택

영인
영인

In [4]:
# 여러개의 원소를 선택
print(sr[[1, 2]], '\n') # <반드시 list를 사용할것!!!>
print(sr[['생년월일', '성별']])

생년월일    2020-8-20
성별              여
dtype: object

생년월일    2020-8-20
성별              여
dtype: object

In [5]:
# 여러개의 원소를 선택 (index 범위를 지정)
print(sr[1:3], '\n')
print(sr['생년월일': '학생여부'])

생년월일    2020-8-20
성별              여
dtype: object

생년월일    2020-8-20
성별              여
학생여부         True
dtype: object