<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_4_dict_to_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary - Dataframe 변환

In [1]:
import pandas as pd

In [2]:
# column을 key로 하고, list를 value로 갖는 dictionary 정의 (2차원 배열)

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10, 11, 12], 'c4':[13, 14, 15]}

# pandas DataFrame() 함수로 dictionary를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df), '\n')

# 변수 df에 저장되어 있는 dataframe 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15