<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_5_change_df_idx_col.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-5 index / column 이름 설정

In [1]:
import pandas as pd

In [2]:
# index / column 이름 지정하여 dataframe 만들기

df = pd.DataFrame([[15, '남', 'UW'], [20, '여', 'BC']],
                  index = ['Bill', 'Jane'],
                  columns = ['Age', 'Sex', 'School'])

# index, columns 이름 확인
print(df, '\n')
print(df.index, '\n')
print(df.columns)

      Age Sex School
Bill   15   남     UW
Jane   20   여     BC

Index(['Bill', 'Jane'], dtype='object')

Index(['Age', 'Sex', 'School'], dtype='object')

In [3]:
# index, columns 이름 변경하기
df.index = ['student1', 'student2']
df.columns = ['Age', 'Sex', 'College']

print(df, '\n')
print(df.index, '\n')
print(df.columns)

          Age Sex College
student1   15   남      UW
student2   20   여      BC

Index(['student1', 'student2'], dtype='object')

Index(['Age', 'Sex', 'College'], dtype='object')