<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_6_change_df_idx_col2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-6 Index / columns 이름 변경: 
- 원본 object를 직접 수정하는 것이 아니라 새로운 dataframe object를 반환한다.
- 원본 object를 변경하려면 inplace=True 옵션을 사용

In [1]:
import pandas as pd

In [2]:
# index / columns 이름 지정하여 데이터 프레임 만들기

df = pd.DataFrame([[15, 'M', 'SHS'], [16, 'F', 'BC']],
                  index = ['Bill', 'Jane'],
                  columns = ['Age', 'Sex', 'School'])

print(df, '\n')

# columns 이름 중, 'Sex'를 'sex'로, 'Age'를 'age'로, 'School'을 'school'로 바꾸기
df.rename(columns={'Sex':'sex', 'Age':'age', 'School':'school'}, inplace=True)
df.rename(index={'Bill': 'Stu1', 'Jane':'Stu2'}, inplace = True)

print(df)

      Age Sex School
Bill   15   M    SHS
Jane   16   F     BC

      age sex school
Stu1   15   M    SHS
Stu2   16   F     BC