<a href="https://colab.research.google.com/github/juyounLee/PythonML_Pandas/blob/main/1_9_select_row.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 예제 1-9 row 선택
- row data를 선택하기 위해서는 loc와 iloc index를 사용
- loc: index 이름을 기준으로 행을 선택
- iloc: integer 위치 index를 사용할때

In [ ]:
import pandas as pd

In [ ]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'math':[90, 80, 70], 'eng':[98, 99, 95],
             'music':[89, 90, 92], 'PE':[96, 99, 92]}

df = pd.DataFrame(exam_data, index=['stu1', 'stu2', 'stu3'])
print(df)

      math  eng  music  PE
stu1    90   98     89  96
stu2    80   99     90  99
stu3    70   95     92  92

In [ ]:
# row index를 사용하여 row 1개 선택

label1 = df.loc['stu1']
position1 = df.iloc[0]
print(label1, '\n')
print(position1)

math     90
eng      98
music    89
PE       96
Name: stu1, dtype: int64

math     90
eng      98
music    89
PE       96
Name: stu1, dtype: int64

In [ ]:
# row index를 사용하여 2개 이상의 row 선택
label2 = df.loc[['stu1', 'stu2']]
position2 = df.iloc[[0, 1]]
print(label2, '\n')
print(position2)

      math  eng  music  PE
stu1    90   98     89  96
stu2    80   99     90  99

      math  eng  music  PE
stu1    90   98     89  96
stu2    80   99     90  99

In [ ]:
# row index 범위를 사용하여 행 선택
label3 = df.loc['stu1':'stu2']
position3 = df.iloc[0:1]
print(label3, '\n')
print(position3)

      math  eng  music  PE
stu1    90   98     89  96
stu2    80   99     90  99

      math  eng  music  PE
stu1    90   98     89  96